# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- Scala libraries
- Python libraries
- R libraries

| Data Science Tools |
|:--------:|
|  RStudio   |
|  TensorFlow   |
|  Apache Spark   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers (3*4)+5
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Create a code cell to convert minutes to hours
- Insert a markdown cell to list Objectives

## Author
Bongi